@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard.css";

:root {
  --background: #17171C;
  --foreground: #ffffff;
  --point-color: #3182F6;
  --font-pretendard: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-point: var(--point-color);
  --font-sans: var(--font-pretendard);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
  overflow-x: hidden;
}
